<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuanLyCuaHangTienLoi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="QuanLyCuaHangTienLoiConnection"
             connectionString="Data Source=STEVE-JONH;Initial Catalog=QuanLyCuaHangTienLoi;Encrypt=False;Trust Server Certificate=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <!-- Thông tin cửa hàng -->
        <add key="StoreName" value="Cửa hàng tiện lợi XYZ" />
        <add key="StoreAddress" value="123 Đường ABC, Quận 1, TP.HCM" />
        <add key="StorePhone" value="0901234567" />
        <add key="StoreEmail" value="contact@store.com" />

        <!-- Cài đặt hệ thống -->
        <add key="TaxRate" value="10" />
        <add key="WorkingHours" value="7:00 - 22:00" />
        <add key="ReceiptFooter" value="Cảm ơn quý khách đã mua hàng!" />
        <add key="LowStockThreshold" value="10" />
        <add key="EnableEmailNotifications" value="false" />
        <add key="BackupFrequency" value="Daily" />
        <add key="BackupPath" value="" />

        <!-- Cài đặt ghi log -->
        <add key="LogLevel" value="Info" />
        <add key="LogRetentionDays" value="30" />
    </appSettings>
    <userSettings>
        <QuanLyCuaHangTienLoi.Properties.Settings>
            <setting name="SavedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLoginDate" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>vi-VN</value>
            </setting>
        </QuanLyCuaHangTienLoi.Properties.Settings>
    </userSettings>
</configuration>